<div class="download-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

   <div class="site-name">IDGC EDUCATIONAL RESOURCES</div>
   <h2>GET THE COMPLETE MATERIALS AT THE COST OF N5500</h2>
   <div> 
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-envelope"></span> fabita.aws@gmail.com 
        </a>
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-earphone"></span> 08148360715
        </a>
        <a href="/ " class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span> Home
        </a>
   </div>
   <br>
   <h3>ACCOUNT DETAILS</h3>
   <div>
   <p>ACCOUNT NAME: IDGR</p>
   <p>BANK: GTCO</p>
   <p>ACCOUNT NUMBER: 0233824294</p>
   
   </div>
   
   <h3>AFTER PAYMENT PLEASE FILL THE FORM</h3>
   <div class="cusform">
   <form action="">
   <input type="text" name="paymentRrefrence" placeholder="paymentRefrenceNo"><br>
   <input type="text" name="fullName" placeholder="fullName"><br>
   <input type="text" name="phoneNumber" placeholder="phoneNumber"><br>
   <input type="email" name="email" placeholder="email"><br><br>
   <button type="submit" style="width: 30%">Submit</button>
   
   </form>
   </div>
   
  
   
  
</div>
