<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>mobileApp</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body class="proj-top">
 	<h2><a href="/ ">Home</a></h2>
 	<h2>MOBILE APP DEVELOPMENT </h2>

<th:block th:include="/footer"></th:block>
</body>
</html>