<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>project topic</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body class="proj-top">
<th:block th:include="/contact"></th:block>
<br><br><br><br>
<h1 class="topic-materials">IP LIST OF PROJECT TOPICS</h1>
<div class="proj-topics">
<div class="row">
<div class="col-sm-4">

<a href="#">ACCOUNTING 3693</a>
<a href="#">ACCOUNTING EDUCATION 6</a>
<a href="#">ADULT EDUCATION 7</a>
<a href="#">ACTUARIAL SCIENCE 6</a>
<a href="#">AGRICULTURAL EXTENSION 187</a>
<a href="#">ANATOMY 5</a>
<a href="#">ARCHITECTURE 41</a>
<a href="#">AGRICULTURAL SCIENCE 294</a>
<a href="#">ANIMAL SCIENCE 49</a>
<a href="#">AFRICAN LANGUAGES 7</a>
<a href="#">BANKING AND FINANCE 1200</a>
<a href="#">BUSINESS ADMINISTRATION 1298</a>
<a href="#">BUSINESS MANAGEMENT 23</a>
<a href="#">BUSINESS EDUCATION 16</a>
<a href="#">BIBLICAL AND THEOLOGY 35</a>
<a href="#">BIOCHEMISTRY 173</a>
<a href="#">BIOLOGY 58</a>
<a href="#">BREWING SCIENCE 5</a>
<a href="#">BUILDING AND TECHNOLOGY 114</a>
<a href="#">COMPUTER SCIENCE 1587</a>
<a href="#">CHEMISTRY 36</a>
<a href="#">COMMERCE 25</a>
<a href="#">COMPUTER SCIENCE EDUCATION 19</a>
<a href="#">CURRICULUM STUDIES 4</a>
<a href="#">CIVIL ENGINEERING 84</a>
<a href="#">CHEMICAL ENGINEERING 211</a>
<a href="#">ECONOMICS 1228</a>
<a href="#">EDUCATION 4018</a>
<a href="#">ENGLISH 366</a>
<a href="#">ELECTRICAL & ELECTRONICS 231</a>
<a href="#">ENVIRONMENTAL SCIENCE 272</a>

</div>
<div class="col-sm-4">
<a href="#">ESTATE MANAGEMENT 211</a>
<a href="#">ENTREPRENEURSHIP 179</a>
<a href="#">FOOD SCIENCE & TECH. 137</a>
<a href="#">FINE & APPLIED ARTS 42</a>
<a href="#">FISHERY & AQUACULTURE 62</a>
<a href="#">FORESTRY & WILDLIFE 5</a>
<a href="#">GUIDANCE AND COUNSELING 197</a>
<a href="#">GEOGRAPHY 60</a>
<a href="#">GEOLOGY 43</a>
<a href="#">HUMAN RESOURCE MANAGEMENT 315</a>
<a href="#">HEALTH & SEX EDUCATION 23</a>
<a href="#">HOME ECONOMICS 50</a>
<a href="#">HUMAN KINETICS 25</a>
<a href="#">INFORMATION TECHNOLOGY 34</a>
<a>INDUSTRIAL CHEMISTRY 36</a>
<a>INSURANCE 141</a>
<a>INTERNATIONAL RELATIONS 117</a>
<a>ISLAMIC & ARABIC STUDIES 4</a>
<a>LAW 219</a>
<a>LIBRARY SCIENCE 213</a>
<a>MARKETING 997</a>
<a>MASS COMMUNICATION 1470</a>
<a>MATHEMATICS EDUCATION 9</a>
<a>MICRO BIOLOGY 162</a>
<a>MARINE AND TRANSPORT 6</a>
<a>MECHANICAL ENGINEERING 152</a>
<a>NURSING 113</a>
<a>OFFICE TECHNOLOGY 301</a>
<a>PUBLIC ADMINISTRATION 982</a>
<a>POLITICAL SCIENCE 582</a>
<a>PSYCHOLOGY 91</a>
</div>
<div class="col-sm-4">
<a href="#">PHILOSOPHY 163</a>
<a href="#">PHYSICS 33</a>
<a href="#">PROJECT MANAGEMENT 11</a>
<a href="#">PHARMACY 21</a>
<a href="#">PURCHASING & SUPPLY 300</a>
<a href="#">PRODUCTION & OPERATIONS MGT. 22</a>
<a href="#">PETROLEUM ENGINEERING 51</a>
<a href="#">QUANTITY & SURVEYING 74</a>
<a href="#">RELIGIOUS & CULTURAL STUDIES 19</a>
<a href="#">SOCIAL STUDIES 10</a>
<a href="#">SCIENCE LABOURATORY 252</a>
<a href="#">SOIL SCIENCE 12</a>
<a href="#">SOCIOLOGY 284</a>
<a href="/stat-top">STATISTICS 126</a>
<a href="#">THEATRE ARTS 14</a>
<a href="#">TOURISM & HOSPITALITY 32</a>
<a href="#">URBAN & REGIONAL PLANING 64</a>
<a href="#">VOCATIONAL STUDIES 43</a>
<a href="#">VETERINARY 2</a>
<a>ZOOLOGY 12</a>
<a>EDUCATIONAL TECHNOLOGY 5</a>
<a>APPLIED SCIENCE 15</a>
<a>CRIMINOLOGY 70</a>
<a>COMPUTER ENGINEERING 51</a>
<a>FRENCH 39</a>
<a>HISTORY 124</a>
<a>INDUSTRIAL RELATIONS & PERSONNEL MANAGEMENT 149,</a>
<a>PHYSIOLOGY 28</a>
<a>MEDICINE 131</a>
<a>SECRETARIAL STUDIES 131</a>
<a>PUBLIC HEALTH 99</a>
<a>NEW PROJECT TOPICS 20</a>
</div>
</div>
</div>
<th:block th:include="/footer"></th:block>
</body>
</html>