<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>download project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body class="proj-top">
<div class="proj-topics" >
<div class="row">
<div class="col-sm-6" style="border: 1px solid #f2f2f2">
<h3>
<p>STATISITICAL ANALYSIS ON THE IMPACT OF BIRTH AND DEATH RATE ON NIGERIA ECONOMY FROM 2000-2015</p>
</h3>

<h5><p><button type="button">STATISITICAL ANALYSIS ON THE IMPACT OF BIRTH AND DEATH RATE ON NIGERIA ECONOMY FROM 2000-2015<br>GET THE MATERIALS AT N5500</button></p></h5>
<h3><p>CHAPTER ONE</p></h3>
<h3><p>INTRODUCTION</p></h3>
<h3><p>1.1 BACKGROUND OF THE STUDY</p></h3>

<p>
 Economic development of Nigeria has over the period been inconsistent despite its window dressing.  Economic growth and development in Nigeria is inevitable for a better and prosperous living. In adequately studying economic growth and development, a lot of predictors or determinants must be studied as well to have a comprehensive grip on the socio economic development of the nation. Two cardinal factors that may influence the socio economic development of any nation, Nigeria inclusive are the birth and death rates. The performance of the economy of any nation to a very large extent hinges on these two factors. Increased or decreased birth or death rates have its implications on the socio economic development of a country. Countries that want to be wealthy must not joke or toil with the study of birth and death rates in relationship to their economy.

The birth rate; in Nigeria was last measured at 41.24 in 2013, according to the World Bank. Crude birth rate indicates the number of live births occurring during the year, per 1,000 populations estimated at midyear or quarterly. Subtracting the death rate from the birth rate provides the rate of natural increase, which is equal to the rate of population change in the absence of migration.

The birth rate (technically, births/population rate) is the total number of live births per 1,000 of a population in a year. The rate of births in a population is calculated in several ways: live births from a universal registration system for births, deaths, and marriages; population counts from a census, and estimation through specialized demographic techniques. The birth rate (along with mortality and migration rate) is used to calculate population and economic growth. In 2012 the average global birth rate was 19.15 births per 1,000 total populations, compared to 20.09 per 1,000 total populations in 2007. The raw birth rate is 4.3 births/second for the world (2014 EST).

Death rate can be said to be the ratio of total deaths to total population in a specified community or area over a specified period of time. The death rate is often expressed as the number of deaths per 1,000 of the population per year.

It can also be said to be a measure of the number of deaths (in general, or due to a specific cause) in a particular population, scaled to the size of that population, per unit of time. Mortality rate is typically expressed in units of deaths per 1,000 individuals per year; thus, a mortality rate of 9.5 (out of 1,000) in a population of 1,000 would mean 9.5 deaths per year in that entire population, or 0.95% out of the total. It is distinct from the so-called “morbidity rate” (a vague term sometimes used to refer to either the prevalence or incidence of a disease), and also from the incidence rate (the number of newly appearing cases of the disease per unit of time).

Ordinarily speaking, we can say that birth rate can be a number that shows how many people died in a particular place or during a particular time or the number of deaths from a specific cause in a particular area during a particular time period.
<br>
1.2  STATEMENT OF THE PROBLEM

The performance inconsistency of the economy of Nigeria has led us to this research. Nigeria’s economy may have over the period neglected these two important factors in being able to predict the economy in the coming years. Lack of proper documentation of the birth and death rate in Nigeria which has led to the inadequate economic planning has also been a major problem confronting Nigeria.
<br>
1.3 OBJECTIVES OF THE STUDY

The main objective of the study is to examine the impact of birth rate and death rate on Nigeria’s Economy. The specific objectives are as follows:

To know if there is a relationship between birth rate and the economy of Nigeria. To know if there is a relationship between death rate and the economy of Nigeria. To predict the economy of Nigeria using the birth and death rates. To know the nature of the relationship that exists amongst birth rate, death rate and the economy of Nigeria.
<br>
1.4 RESEARCH QUESTIONS

Is there any relationship between birth rate and the economy of Nigeria? Does any relationship exist between death rate and the economy of Nigeria? Can the economy of the Nigeria be predicted using the birth and death rates? To know the nature of the relationship that exists amongst birth rate, death rate and the economy of Nigeria.
<br>
1.5 RESEARCH HYPOTHESES

H01: There is no relationship between birth rate and the economy of Nigeria.

HI1: There is a relationship between birth rate and the economy of Nigeria.

H02: There is no relationship between death rate and the economy of Nigeria.

HI2: There is a relationship between death rate and the economy of Nigeria.

H03: There is no relationship between death rate, birth rate and the economy of Nigeria.

HI3: There is a relationship between death rate, birth rate and the economy of Nigeria.
<br>
1.6 SIGNIFICANCE OF THE STUDY

The significance of this study is to educate researchers firms, hospitals, families and other related organizations on the need to ensure adequate documentation of the birth and death rates as it helps in effective economic planning of Nigeria.
<br>
1.7 SCOPE OF THE STUDY

This study is restricted to the impact of birth and death rates on the socio economic development of  Nigeria with reference to Braithwaite Memorial Hospital (BMH) Port Harcourt, Rivers State.
<br>
1.8 DEFINITION OF TERMS
<br>
Birth rate: The number of births every year for every 1000 people in the population of a place.
<br>
Death rate: The number of deaths every year for every 1000 people in the population of a place.
<br>
Economy: The relationship between production, trade and the supply of money in a particular country or region.
<a href="/stabdrate " class="btn btn-info btn-lg">
<span class="glyphicon"></span> GET THE COMPLETE MATERIALS
 </a>
</p>
</div>
<div class="col-sm-6">
<th:block th:include="/download"></th:block>
</div>
</div>
</div>
</body>
</html>