<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>STATISTICAL APRIASAL OF ACCIDENT RATE</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body class="proj-top">
<div class="proj-topics" >
<div class="row">
<div class="col-sm-6" style="border: 1px solid #f2f2f2">
<h3>
<p>A STATISTICAL APPRIASAL OF ACCIDENT RATE (1995 – 2002)</p>
</h3>
<h3><p>CHAPTER ONE</p></h3>
<h3><p>1.1 INTRODUCTION</p></h3>

<p>
 According to Oxford Learners Dictionary accident is defined as something that happens without a cause that can been seen at once, usually something unfortunate and undesirable.  This means that accident can happen at anytime, anywhere and any moment.   In most cases accident result from carelessness or recklessness.

Road accident may be said to occur when many vehicles do not meet the safety requirement of the traffic operation.  Road accident have become a major problem in the country, many people both old young have lost their lives as a result of road accident.

          The rate of accident in this state varies from time to time and increase during the end of the year and decreases at the beginning of the year and also the number of cars double for the fact that during this period, the number of not or vehicle are more than doubled, odes not mean that the roads becomes less safer.  Why then is it that the rate of road accident in Enugu – Onitsha Express Road is not stable as other roads in the state?

The answer is that first, we lack sufficient collective will to put an end once and for all, to the perils caused us by road accident.

Second, our understanding of the situation is low because of the fragment nature of its occurrence (is not how many people or families are affected at a time and this has made people to slow down, I don’t care to behaviaour it).  It does happen because we cannot predict its period of occurrence.

If we have the good will, we should find the way, for we cannot assume the number of accident rate are beyond a number that man could.  Solue, once they have been identified.  Some people are non chalant because they are not directly affected.  Perhaps they are not divers or carousers, that not withstanding they are affected somehow its effects on the public migration are not cumulative another reason why we cannot reduce the rate of accident in Enugu – Onitsha Express Road to its lowest rate of occurrence is that from the point of view of the government and financial cost of an integrated road transport system represent one of one many cells on the national income there by a time they forget about and road transport system.  By this I mean that the decision is essential government by consideration of a political nature.

In principle, the number of casualties on the road could be reduced to any required level, provided there was sufficient investment of economic and social effort that could minimize or reduce it.

In view of what has been said about appraisal of accident rate in Enugu – Onitsha Express Road, it may be said to occur when many vehicle do not meet the safety requirement of the traffic role as it can always be seen.

Road accident is normally a failure of the control system the starting point in how to prevent accident along Enugu – Onitsha Express Road should be understood.  What is required of many vehicles?

There are factors that lead to road accident.

Unsafe Driver:  Unsafe driver is a driver that drives under the influence of alcohol or drugs feeling sleepy, carelessly distracted, pot whole, driving with uncorrected vision or hearing.

Hazardous Driving Condition:   Hazardous driving condition is driving under stormy weather.  Sleeping road surface, darkness, narrow roads.

Unsafe Driving Practices:   This is driving above the speed limit, turning without signaling, following the car ahead too closely. 

Unsafe condition with an automobile:  Brakes failure, unsafe steering gear, worn-out tires, over loading and driver without light at night is also one of the major features of road accident is a high proportion of severe multiple injuries, gotten.  However motor accident rate may constitute a growing problem in our society, perhaps scrunching of traffic regulation equipment facilities shall be improved the state.
<br>
1.2     BACKGROUND INFORMATION

In the past, in the time of our fore father the rate of road accident was very small because they were uncivilized; there was very few motor vehicles, good road etc.

          In this modern time, there is hardly a day without accident, go to road safety office, and see the number of people that is being hospitalized, mainly the value of goods lost by Enugu – Onitsha Express accident victims, not to talk of those that have lost their limes because of accident that occur on this road.

          At this juncture, one may ask at what season of the year or month people normally have accident, and what factors influence the road accident and how many people may be admitted into the hospital or the value of crude deaths rate will it not increase from day to day on this road in future.

          Awareness of all these things may make the government to know how much to budget for maintain of these road or maintenance of road facilities, provision of emergency services and how best to control road accident and suppress it to the lowest rate of occurring.

          Nowadays, it appears that the tendency of accident occurring is greater than it was in the previous decades.

          New invention is the main factors that attribute to it many people are miss using it.  Also illiteracy of the drivers.  Lack of vehicle maintenance, bad roads, one way traffic inexperience etc.

          Against this background, I decided to carry out a study on the value of accident rate in Enugu – Onitsha Express Road in order to investigate some of the above maintained issues.
<br>
1.3     AIMS AND OBJECTIVES

The aims and objectives of this project is to carry out statistical appraisal of accident rate in Enugu – Onitsha Express Road for a period of eight years (1995 – 2002).

          To ascertain the rate at which accident occur, whether the accident rate has been increased as years go by or its varies from month or being at decrease and at what season of the year do we have higher rate of accident at Enugu – Onitsha Express Road.

           Moreover, this project will help to predict the value of road accident or number of the road accident in Enugu – Onitsha Express Road that will occure in future will regard to the past records.

          This scientific knowledge will help the government in their planning and also on how best to control or reduce road accident in Enugu – Onitsha Express Road to its minimum of occurrence in the state.

          Finally, the recommendation made I this work will help individuals to know the rate of accident in Enugu – Onitsha Express Road so as not to be the next victim.
<br>
1.4     SCOPE AND LIMITATION OF THE STUDY

The researchers decided to limit the scope of the topic, the appraisal of accident rate in Enugu – Onitsha Express Road, so as to collect accurate data during the limited period of research to do more accident work in future.
<a href="/staApriasalAccidRate " class="btn btn-info btn-lg">
<span class="glyphicon"></span> GET THE COMPLETE MATERIALS
 </a>
</p>
</div>
<div class="col-sm-6">
<th:block th:include="/download"></th:block>
</div>
</div>
</div>
</body>
</html>