<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>STAT.PROJECT TOPICS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body class="proj-top">
<th:block th:include="/contact"></th:block><br><br><br><br>

<h2 class="topic-materials">PROJECT TOPICS IN STATISTICS AND MATERIALS</h2>
<div class="proj-topics">
<div class="row">
<div class="col-sm-5">
<a href="/stabdrate">1. STATISITICAL ANALYSIS ON THE IMPACT OF BIRTH AND DEATH RATE ON NIGERIA ECONOMY FROM 2000-2015</a>
<a href="/staIndAccid">2.  A STATISTICAL ANALYSIS ON RATE OF INDUSTRIAL ACCIDENTS</a>
<a href="/staApriasalAccidRate">3.  A STATISTICAL APPRIASAL OF ACCIDENT RATE (1995 – 2002)</a>
<a href="/stat/motality_death_rate_on_women_agegroup">4.  ANALYSIS EFFECT OF MORTALITY DEATH RATE ON WOMEN AGE GROUP</a>
<a>5.  STATISTICAL ANALYSIS OF COAL PRODUCTION IN NIGERIA (1990-1999)</a>
<a>6.  STATISTICAL ANALYSIS OF THE NUMBER OF BABIES ADMITTED IN THE MOTHERLESS BABY HOME (1995 – 2004)</a>
<a>7.  ANALYSIS OF REPORTED CASES OF CRIME (1996 TO 2003)</a>
<a>8.  THE EFFECTS OF POOR INFRASTRUCTURAL FACILITIES ON SOCIO-ECONOMIC DEVELOPMENT</a>
<a>9.  A STATISTICAL ANALYSIS OF CAPITAL MARKET AND ECONOMIC GROWTH</a>
<a>10.  A STATISTICAL ANALYSIS OF REPORTS CASES OF CRIME (1995 – 2004)</a>
<a>11.  COMPARATIVE ANALYSIS OF AUDIENCE ENGINEERING</a>
<a>12.  A STATISTICAL QUALITY CONTROL IN THE BAKER INDUSTRY</a>
<a>13.  TIME SERIES ANALYSIS OF SALES OF PETROLEUM PRODUCTS IN NIGERIA</a>
<a>14.  STATISTICAL ANALYSIS OF CRIMINAL OFFENCES RECORDED IN KUJE – ABUJA (FCT) FROM 1999 – 2007</a>
<a>15.  COMPARATIVE STUDY OF STRENGTH OF FIGURE OF FOUR BRACED QUADRILATERAL USING A MINOR TRIANGULATION SCHEME</a>
<a>16.  REGRESSION ANALYSIS ON NATIONAL INCOME FROM 1998 TO 2003</a>
<a>17.  A QUALITY ANALYSIS OF THE THICKNESS OF PART AND CORRUGATED ASBETES ROOFING SHEETS OF EMENITE LIMITED ENUGU</a>
<a>18.  STATISTICAL ANALYSIS OF STUDENTS’ EXPENDITURE IN TERTIARY INSTITUTIONS</a>
<a>19.  TIME SERIES ANALYSIS OF PATIENT ATTENDANCE</a>
<a>20.  AN ANALYSIS OF INFANT MORTALITY RATE FROM 1995 TO 2004</a>
<a>21.  STATISTICAL ANALYSIS OF ROAD ACCIDENTS IN NIGERIA</a>
<a>22.  ANALYSIS OF CASH DEPOSITS PATTERN IN COMMERCIAL BANKS</a>
<a>23.  ANALYSIS OF THE PROBLEMS OF PETROLEUM PRODUCTS DISTRIBUTION IN NIGERIA</a>
<a>24.  ANALYSIS OF COAL</a>
<a>25.  ANALYSING DEBT MANAGEMENT TECHNIQUES IN BUSINESS ORGANISATIONS IN NIGERIA</a>
<a>26.  ANALYSIS OF DEVELOPMENT IN NIGERIAN BALANCE OF PAYMENT</a>
<a>27.  ANALYSIS OF PRODUCTION SYSTEM DESIGN AND MANAGEMENT IN THE SOFT DRINK INDUSTRY</a>
<a>28.  ANALYSIS OF FINANCIAL STATEMENTS AS AN AID TO MEANINGFUL INVESTMENT DECISION MAKING</a>
<a>29.  COMPARATIVE ANALYSIS OF ACADEMIC PERFORMANCE OF COMPUTER SCIENCE AND ENGLISH LANGUAGE IN JUNIOR SECONDARY SCHOOL</a>
<a>30.  CRITICAL ANALYSIS OF THE PERFORMANCE OF NATIONAL ECONOMIC EMPOWERMENT AND DEVELOPMENT STRATEGY NEEDS ON THE NIGERIAN ECONOMY</a>
<a>31.  COMPARATIVE ANALYSIS OF MICROBIAL LOAD OF THE MAIN WATER PRODUCTION AND WATER AVAILABLE TO IMT CAMPUS II HOSTEL</a>
<a>32.  CRITICAL ANALYSIS OF THE SOURCES OF REVENUE AND EXPENDITURE PATTERN OF LOCAL GOVERNMENT</a>
<a>33.  CRITICAL ANALYSIS OF BUDGETARY CONTROL ITS EFFECTIVENESS AND EFFICIENCY IN A NON PROFIT MAKING ORGANIZATION</a>
<a>34.  CRITICAL ANALYSIS OF CAUSES AND PROBLEM OF FINANCIAL DISTRESS IN NIGERIA BANKING SECTOR</a>
<a>35.  FRAUDS IN NIGERIA BANKS: ANALYSIS AND SOLUTIONS.</a>
<a>36.  PRESS IN NIGERIAN POLITICS ANALYSIS OF ISSUES AND PATTERNS OF NEWS</a>
<a>37.  DESIGN AND ANALYSIS OF EXPERIMENTS ON THE METHODS OF ESTIMATING VARIANCE COMPONENTS</a>
<a>38.  CLUSTER ANALYSIS ON THE EFFECT OF DOLLAR INCREMENT ON THE ECONOMY OF NIGERIA</a>
<a>39.  PHYSIOCHEMICAL AND SENSORY EVALUATION OF COOKIES PRODUCED FROM BLENDS OF MALTED SORGHUM, SPROUTED BLACK BEANS AND COOKED COCOYAM FLOUR, PROXIMATE ANALYSIS, MINERALS</a>
<a>40.  STATISTICAL ANALYSIS OF THE FEDERAL GOVERNMENT’S EXPENDITURE AND REVENUE.</a>
<a>41.  PERFORMANCE EVALUATION OF NNPC (1999-2015) USING REGRESSION ANALYSIS TECHNIQUES</a>
<a>42.  A STATISTICAL STUDY ON THE EFFECTS OF AGRICULTURAL LOANS ON FARMING ACTIVITIES IN NIGERIA</a>
<a>43.  A REGRESSION ANALYSIS ON THE HOURS SPENT ON THE INTERNET AND TIME SPENT TO STUDY ON ACADEMIC PERFORMANCE OF STUDENTS</a>
<a>44.  STATISTICAL ANALYSIS OF PREVALENCE MALNUTRITION ON CHILDREN ZERO TO FIVE YEARS</a>
<a>45.  A REGRESSION ANALYSIS ON THE IMPACT OF SMOKING LEVEL OF EXERCISE AND WEIGHT ON MEDICAL COST</a>
<a>46.  REGRESSION ANALYSIS ON NATIONAL INCOME (FROM 1999 – 2015)</a>
<a>47.  ANALYSIS OF THE RATE OF INFANT MORTALITY FROM ONE MONTH TO ONE YEAR</a>
<a>48.  STATISTICAL ANALYSIS OF INCIDENCE OF HIVAIDS PANDEMIC IN NIGERIA</a>
<a>49.  TIME SERIES ANALYSIS ON THE RATE OF TYPHOID FEVER</a>
<a>50.  STATISTICAL ANALYSIS OF THE REPORTED CASES OF ONCHOCERCIASIS (RIVER BLINDNESS) DISEASE FROM 2000-2011</a>
<a>51.  A STATISTICAL ANALYSIS ON THE EFFECTS OF INDUSTRIAL TRAINING (I.T)</a>
<a>52.  INVENTORY CONTROL SYSTEM ON THREE PRODUCTS OF THREE SUPERMARKETS</a>
<a>53.  A STATISTICAL ANALYSIS OF REPORTED CASES OF SEXUALLY TRANSMITTED DISEASE</a>
<a>54.  ANALYSIS OF REPORTED CASES OF CRIME (A CASE STUDY OF SAPELE POLICE STATION)</a>
<a>55.  ANALYSIS OF REPORTED CASES OF CRIME</a>
<a>56.  ECONOMETRICS ANALYSIS ON THE MONTHLY INCOME GENERATED FROM SALES OF LEGEND GUILDER, AND MALTINA DRINKS IN NIGERIA</a>
<a>57.  REGRESSION ANALYSIS ON NATIONAL INCOME</a>
<a>58.  SAMPLE SURVEY ON THE USE OF CONTRACEPTIVES DRUGS AMONG FEMALE STUDENT OF FACULTY OF SCIENCE.</a>
<a>59.  STATISTICAL ANALYSIS OF CRIMINAL OFFENCES RECORDED</a>
<a>60.  STATISTICAL ANALYSIS ON FERTILITY AND MORTALITY RATE</a>
<a>61.  TIME SERIES ANALYSIS ON PATIENT ATTENDANCE</a>
<a>62.  STATISTICAL ANALYSIS OF THE FEDERAL GOVERNMENT EXPENDITURE AND REVENUE</a>
<a>63.  DIFFERENTIATION AND ITS APPLICATION</a>
</div>
<div class="col-sm-5">
<a>64.  MATRIX AND ITS APPLICATIONS</a>
<a>65.  A STATISTICAL UNIVARIATE ANALYSIS OF THE GENERAL RESPONSE OF LOCAL DOGS TO VACCINATION</a>
<a>66.  A STATISTICAL UNIVARIATE ANALYSIS OF THE GENERAL RESPONSE OF LOCAL DOGS</a>
<a>67.  EVALUATION OF NIGERIAN GAS PRODUCTION AND ELECTRICITY GENERATION FROM NATURAL GAS USING REGRESSION ANALYSIS</a>
<a>68.  STATISTICAL ANALYSIS OF THE FEDERAL GOVERNMENT’S EXPENDITURE</a>
<a>69.  MULTIVARIABLE OPTIMIZATION WITH CONSTRAINTS</a>
<a>70.  A STATISTICAL STUDY ON THE TRAFFIC CONGESTION IN OSHODI APAPA EXPRESSWAY LAGOS</a>
<a>71.  TIME SERIES ANALYSIS OF PATIENT ATTENDANCE, UNIUYO TEACHING HOSPITAL</a>
<a>72.  THE PROBLEMS OF PROVISION OF PUBLIC CONVENIENCE IN URBAN CENTRES</a>
<a>73.  STATISTICAL ANALYSIS OF THE QUEUING SYSTEM IN A BUS TERMINAL</a>
<a>74.  TIME SERIES ANALYSIS ON THE RATE OF TYPHOID FEVER CASES IN ABIA STATE FROM 2001-2010</a>
<a>75.  AN ANALYSIS OF CASH DEPOSIT PATTERN IN COMMERCIAL BANKS</a>
<a>76.  AN OPTIMAL INVENTORY CONTROL OF RAW MATERIALS AND NETWORK ANALYSIS OF PRODUCTION PLANNING</a>
<a>77.  STATISTICAL ANALYSIS OF THE EFFECT OF TRAINING AND DEVELOPMENT OF MANPOWER IN AN ORGANIZATION FOR EFFICIENT PERFORMANCE</a>
<a>78.  MOTIVATION AND JOB SATISFACTION AMONG SECRETARIES AS ADMINISTRATORS</a>
<a>79.  A STATISTICAL ANALYSIS ON THE EFFECTS OF INDUSTRIAL TRAINING (I.T) ON HND I STUDENTS</a>
<a>80.  INVENTORY CONTROL SYSTEM ON THREE PRODUCTS OF THREE SUPERMARKETS IN OWERRI</a>
<a>81.  ANALYSIS OF THE RATE OF DEATH OF OUR CHILDREN ATTRACTS CONCERN FROM EVERY NIGERIAN</a>
<a>82.  STATISTICAL ANALYSIS OF ROAD ACCIDENTS</a>
<a>83.  THE APPLICATION OF STATISTICAL QUALITY CONTROL IN PLASTIC PRODUCING INDUSTRY</a>
<a>84.  AN ANALYSE OF INFANT MORTALITY RATE IN ABIA STATE</a>
<a>85.  THE CONTRIBUTION OF COMMERCIAL BANK TO THE ECONOMIC GROWTH IN NIGERIA (1980 –2004)</a>
<a>86.  STATISTICAL ANALYSIS OF INCIDENCE OF HIV/AIDS PANDEMIC IN NIGERIA FROM 1996 – 2005</a>
<a>87.  A STATISTICAL APPRAISAL ACCIDENT RATE IN ENUGU – ONITSHA EXPRESS ROAD FROM 1995 – 2002</a>
<a>88.  A STATISTICAL ANALYSIS OF REPORTED CASES OF SEXUALLY TRANSITED DISEASE IN THE FEDERAL MEDICAL CENTRE UMUAHIA (F.M.C) FROM 1995 – 2004</a>
<a>89.  STATISTICAL ANALYSIS OF THE CAUSES AND EFFECTS OF EXAMINATION MALPRACTICE IN THE TERTIARY INSTITUTION</a>
<a>90.  INTEGRATING A NATIONAL DATABASE FOR AIR POLLUTION HEALTH RISK ASSESSMENT</a>
<a>91.  CARDIAC OUT–PATIENT FLOW</a>
<a>92.  CONTENT ANALYSIS OF CARTOONS IN NIGERIAN DAILIES.</a>
<a>93.  ANALYSIS ON EDUCATION TRUST FUND ALLOCATION TO TERTIARY INSTITUTION IN SIX GEO- POLITICAL ZONES OF NIGERIA (1999-2007).</a>
<a>94.  APPLICATION OF QUEUING MODELS TO CUSTOMERS MANAGEMENT IN THE BANKING SYSTEM.</a>
<a>95.  A TIME SERIES ANALYSIS OF THE MONTHLY DISTRIBUTION OF RAINFALL IN ENUGU METROPOLIS.</a>
<a>96.  STATISTICAL ANALYSIS OF THE PROBLEMS ASSOCIATED WITH SKILL ACQUISITION IN NIGERIA</a>
<a>97.  STATISTICAL ANALYSIS ON CONSUMPTION OF KEROSINE</a>
<a>98.  STATISTICAL ANALYSIS OF THE ROLE OF MICRO-FINANCE BANK IN AGRICULTURAL DEVELOPMENT</a>
<a>99.  STATISTICAL ANALYSIS OF MALARIA CASES AMONG THE CHILDREN AND ADULTS</a>
<a>100.  STATISTICAL ANALYSIS OF INFANT MORTALITY RATE</a>
<a>101.  A STUDY OF THE ACTIVITIES OF NATIONAL PROGRAMME ON IMMUNIZATION AND CHILD MORTALITY</a>
<a>102.  THE IMPACT OF INFORMATION AND COMMUNICATION TECHNOLOGY ON THE TEACHING AND LEARNING OF STATISTICS IN TERTIARY INSTITUTIONS</a>
<a>103.  THE STUDY ON NUMBER OF CHILDREN BEING IMMUNIZED AGAINST MEASLES</a>
<a>104.  STATISTICAL ANALYSIS OF INFANT AND CHILD MORTALITY RATE</a>
<a>105.  MEASURING THE ICT MATURITY LEVEL OF THE NIGERIAN PRIMARY HEALTH SECTOR</a>
<a>106.  AN EVALUATION STUDY ON THE IMPACT OF COLOUR REPRESENTATION IN MAGAZINE ADVERTISING</a>
<a>107.  THE STATISTICAL ANALYSIS OF THE EXPENDITURES AND INCOME OF NIGERIANS IN RELATION TO POVERTY</a>
<a>108.  A STATISTICAL STUDY ON THE EFFECTS OF AGRICULTURAL LOAN ON FARMING ACTIVITIES IN NIGERIA</a>
<a>109.  A MULTIVARIATE ANALYSIS ON THE RESPONSE OF CROPS TO FERTILIZER AND SOIL TYPES</a>
<a>110.  A STATISTICAL ANALYSIS OF ROAD ACCIDENTS IN NIGERIA (FEDERAL ROAD SAFETY CORPS ONITSHA, ANAMBRA STATE 2002-2015)</a>
<a>111.  A STATISTICAL ANALYSIS OF EXAMINATION MALPRACTICE IN NIGERIA</a>
<a>112.  A STATISTICAL ANALYSIS OF CRIMINAL OFFENCES RECORDED IN BENIN, EDO STATE. (FROM 1999- 2014)</a>
<a>113.  A STATISTICAL ANALYSIS OF CRIME RATE AND TRAFFIC CONGESTION IN OSHODI-APAPA AXIS OF LAGOS STATE</a>
<a>114.  TIME SERIES ANALYSIS ON RAINFALL PATTERN IN CALABAR MUNICIPALITY FROM 2002-2014</a>
<a>115.  INDEX NUMBER ANALYSIS ON THE PRICE OF PETROLEUM ON THE PRICE OF FOOD ITEMS (1999-2013)</a>
<a>116.  PERFORMANCE EVALUATION OF NNPC (1999-2013) USING REGRESSION ANALYSIS TECHNIQUES</a>
<a>117.  STATISTICAL STUDY OF THE EFFECTS ON THE PERCENTAGE OF ACTIVE COMPONENTS IN MULTI ACTIVE DETERGENTS</a>
<a>118.  A STATISTICAL RELATIONSHIP BETWEEN STUDENTS’COURSE OF STUDY AND THEIR ATTITUDE TOWARDS EDUCATIONAL DEVELOPMENT IN NIGERIA</a>
<a>119.  A REGRESSION ANALYSIS ON THE IMPACT OF PER CAPITA INCOME ON THE HEALTH CARE COST</a>
<a>120.  A DESIGN AND ANALYSIS OF EXPERIMENTS ON THE METHODS OF ESTIMATING VARIANCE COMPONENTS IN FARM ANIMALS</a>
<a>121.  MATHIEU EQUATION AND ITS APPLICATION</a>
<a>122.  A STATISTICAL ANALYSIS ON THE IMPACT OF BIRTH AND DEATH RATES ON NIGERIA’S ECONOMY</a>
<a>123.  A STATISTICAL ANALYSIS ON THE EFFECT OF NPK FERTILIZER ON CROP GROWTH</a>
<a>124.  A TIME SERIES ANALYSIS OF CUSTOMER ATTENDANCE</a>
<a>125.  A REGRESSION ANALYSIS ON THE IMPACT OF SMOKING, LEVEL OF EXERCISE, WEIGHT ON MEDICAL COST</a>
<a>126.  A QUALITY CONTROL ANALYSIS OF CEMENTS IN DANGOTE CEMENT PLC</a>
</div>
</div>
</div>


<th:block th:include="/footer"></th:block>
</body>
</html>