<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>STATISTICAL APRIASAL OF ACCIDENT RATE</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body class="proj-top">
<div class="proj-topics" >
<div class="row">
<div class="col-sm-6" style="border: 1px solid #f2f2f2">
<h3>
<p>ANALYSIS EFFECT OF MORTALITY DEATH RATE ON WOMEN AGE GROUP</p>
</h3>
<h3><p>ABSTRACT</p></h3>
<p>
 This study was carried out to examine the effect of mortality death rates on women age  group in Nigeria. 
 To achieve this objective, three research questions and two research hypotheses were formulated to guide this study. 
 The data was collected from secondary sources. The secondary data were collected with the help of WHO Statistical Bulletin and other journals and articles. 
 The data collected were analyzed using regressional analysis to test research hypotheses. The study reveals that there is a significance difference between the effect of mortality death rates on women age group in Nigeria; there are the preventive measures of maternal mortality in Nigeria. 
 The concluded with some recommendations that there should be sensitization on the importance of the antenatal visit by making free health services and welfare of the mothers so as to reduce rate of maternal mortality and government and relevant stakeholders should advocate and      
   implement these time honed public health strategies for protecting maternal health and preventing maternal deaths.
<a href="/stat/motality_death_rate_on_women_agegroup " class="btn btn-info btn-lg">
<span class="glyphicon"></span> GET THE COMPLETE MATERIALS
 </a>
</p>
</div>
<div class="col-sm-6">
<th:block th:include="/download"></th:block>
</div>
</div>
</div>
</body>
</html>